{% load static %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style type="text/css">
            body {
                font-family: PT sans, Helvetica, sans-serif;
            }
        </style>
        <meta name="robots" content="noindex,nofollow"></meta>
    </head>
    <body style="margin: 0;mso-line-height-rule: exactly;padding: 0;min-width: 100%">
        <center  style="display: table;table-layout: fixed;width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #eff0ed">
            <table align="center" style="border-collapse: collapse;border-spacing: 0; width: 80%; background-color: #ffffff; margin-top: 20px;border-radius: 6px;">
                <tbody>
                    <tr>
                        <td>
                            <img style="border: 0;-ms-interpolation-mode: bicubic;
                                display: block;border-radius: 6px;-moz-border-radius: 6px;
                                width: 50px; padding: 10px; margin-left: 20px;float: left;" src="{{ file_server_url }}{% static 'images/mail/logo1.png' %}" alt="" >
                        </td>
                        <td>
                             <div style="padding: 0;vertical-align: middle; font-size: 12px; color: #969696;
                                text-align: left; float: right; padding: 20px;">
                                Скачайте приложение!<br>
                                <a href="https://play.google.com/store/apps/details?id=com.geometricsystems.transportila"
                                   target="_blank"
                                   style="color: #26b4f0; text-decoration: none;">Android </a>
                                <span style="color: #c5c5c5;">IOS (в разработке)</span>

                             </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" style="border-collapse: collapse;border-spacing: 0; width: 80%; background-color: #ffffff; margin-top: 5px;border-radius: 6px;">
                <tbody>
                    {% block content %}
                    {% endblock %}
                    <tr >
                        <td style = "padding:32px;color: #378b93; text-align:center;">
                            <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;
                                                                    border-radius: 6px;-moz-border-radius: 6px; width: 100px;    margin: auto; margin-top: 40px;" src="{{ file_server_url }}{% static 'images/mail/logo2.png' %}" alt="">
                        </td>
                    </tr>
                    <tr >
                        <td style = "padding:32px;padding-top: 0;color: #378b93; text-align:center;">
                            <div style="text-align: center; height: 20px; width: 140px; margin: auto;">
                                <a href="https://www.facebook.com/transportilacom" target="_blank">
                                    <img style="padding:0 5px;border: 0;-ms-interpolation-mode: bicubic;display: block; width: 25px; float: left; border-radius: 6px;-moz-border-radius: 6px;" src="{{ file_server_url }}{% static 'images/mail/f.png' %}" alt="">
                                </a>
                                <a href="https://instagram.com/transportila_transportila/" target="_blank">
                                    <img style="padding:0 5px;border: 0;-ms-interpolation-mode: bicubic;display: block; width: 25px; float: left; border-radius: 6px;-moz-border-radius: 6px;" src="{{ file_server_url }}{% static 'images/mail/in.png' %}" alt="">
                                </a>
                                <a href="https://twitter.com/Transportila" target="_blank">
                                    <img style="padding:0 5px;border: 0;-ms-interpolation-mode: bicubic;display: block; width: 25px; float: left; border-radius: 6px;-moz-border-radius: 6px;" src="{{ file_server_url }}{% static 'images/mail/t.png' %}" alt="">
                                </a>
                                <a href="https://vk.com/transportila" target="_blank">
                                    <img style="padding:0 5px;border: 0;-ms-interpolation-mode: bicubic;display: block; width: 25px;float: left; border-radius: 6px;-moz-border-radius: 6px;" src="{{ file_server_url }}{% static 'images/mail/vk.png' %}" alt="">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr >
                        <td style = "padding:0 32px;color: #378b93; text-align:center;">
                            <p style="Margin-top: 0;font-weight: normal;color: #a3a3a3; font-size: 12px;Margin-bottom: 20px;line-height: 18px;text-align: center">
                                4695 Chabot Drive, Pleasanton, California, 94588, USA
                            </p>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="separator" style="font-size: 20px;line-height: 20px;background-color: #eff0ed;height:20px"></div>
        </center>
    </body>
</html>
