{% extends 'letters/base_letter.html' %}
{% block content %}
    <tr >
        <td style = "padding:0 32px;color: #378b93; text-align:center;">
            <h3 style="margin-top: 0;font-weight: normal;color: #969696;font-size: 16px; margin-bottom: 12px;line-height: 18px;text-align: center;">
                Спасибо, что связались с нами.
            </h3>
            <p>Ваш запрос будет передан ответственному лицу в самое ближайшее время.
Ответ на Ваше письмо будет отправлено в течение 24 часов.</p>
        </td>
    </tr>
{% endblock %}