{% extends 'letters/base_letter.html' %}
{% block content %}
    <tr >
        <td style = "padding:0 32px;color: #378b93; text-align:center;">
            <h3 style="margin-top: 0;font-weight: normal;color: #969696;font-size: 16px; margin-bottom: 12px;line-height: 18px;text-align: center;">
                Ваш пароль успешно обновлен!
            </h3>
        </td>
    </tr>
{% endblock %}