<head>
    <meta charset="UTF-8">
    <style>
        body{
            background: #dcdcdc;
        }
        table{
            width: 970px;
            margin: 0 auto;
            padding: 0 80px;
            background: white;
            border-spacing: 0;
        }
        table:first-child{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .footer{
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            background: url('./images/stamp.png') no-repeat;
            background-position-x: 100%;
            background-position-y: 100%;
        }

        .top{
            padding-top: 50px;
        }
        .top tr:first-child td:first-child{

        }
        .top tr:first-child td:last-child{
            /*background: #ebecec;*/
            padding: 15px 30px;
        }
        .top tr:first-child td:last-child img{
            width: 150px;
        }
        .top tr:nth-child(2) td:first-child{
            font-size: 16pt;
            font-weight: bold;
        }
        .top tr:nth-child(3) td{
            font-size: 10pt;
        }
        .top tr:nth-child(3) td ul{
            padding-left: 15px;
        }
        .top tr:nth-child(4) td{
            font-weight: bold;
            text-align: center;
        }

        .items{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .items tr:nth-of-type(odd){
            background: #e5e5e5;
        }
        .items tr:nth-of-type(even){
            background: #eceded;
        }
        .items tr td:first-child{
            color: #5f5f5f;
            border-right: 1px solid grey;
        }
        .items tr td:last-child{
            color: #393939;
        }
        .items tr td{
            padding: 5px 10px;
        }
        .items tr:first-child td:first-child{
            border-top-left-radius: 5px;
        }
        .items tr:first-child td:last-child{
            border-top-right-radius: 5px;
        }
        .items tr:last-child td:first-child{
            border-bottom-left-radius: 5px;
        }
        .items tr:last-child td:last-child{
            border-bottom-right-radius: 5px;
        }

        .cargo{
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }
        .cargo td{
            color: #5f5f5f;
            border-right: 1px solid grey;
        }
        .cargo td:last-child{
            border-right: none;
        }
        .cargo td:last-child img{
            width: 150px;
        }
        .hasCharacteristic{
            padding-bottom: 0;
        }
        .hasCharacteristic tr:last-child td{
            border-bottom: 1px solid grey;
        }
        .hasCharacteristic tr:last-child td:first-child{
            border-bottom-left-radius: 0;
        }
        .hasCharacteristic tr:last-child td:last-child{
            border-bottom-right-radius: 0;
        }
        .characteristic{
            padding-top:0;
            padding-bottom: 10px;
        }
        .characteristic tr:first-child td:first-child{
            border-top-left-radius: 0;
        }
        .characteristic tr:first-child td:last-child{
            border-top-right-radius: 0;
        }
        .cargo tr:first-child td{
            border-top: 1px solid grey;
        }
        .cargo tr td:first-child, .characteristic tr td:first-child{
            border-left: 1px solid grey;
        }
        .cargo tr td:last-child, .characteristic tr td:last-child{
            border-right: 1px solid grey;
        }
        .characteristic tr:last-child td{
            border-bottom: 1px solid grey;
        }

        .notes tr:nth-of-type(odd){
            font-size: 16pt;
        }
        .notes tr:nth-of-type(even) ul{
            margin-top: 5px;
            padding-left: 15px;
        }



    </style>
</head>
<body>
{% block content %}
    <table class="top">
        <tbody><tr>
           <td>Сертификат</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">
                <p>Для того, чтобы успешно расшифровать QR-код соблюдайте следующие правила:</p>
                <p></p><ul>
                        <li>Следите за освещением;</li>
                        <li>Обеспечьте максимальную неподвижность телефона во время расшифровки QR-кода
                            - тряска способна воспрепятствовать процессу сканирования;
                        </li>
                        <li>
                            Мобильное устройство должно находится под прямым углом к одной из строк c QR-кодом;
                        </li>
                        <li>
                            Телефон необходимо держать на одной высоте с двоичным кодом.
                        </li>
                    </ul>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>Доверенное лицо:</td>
            <td>{{ trustee.full_name }}</td>
        </tr>
    </tbody></table>


    <!-- Список предметов, если с характеристиками то ставить стиль hasCharacteristic-->

    <table class="items cargo hasCharacteristic">
        <tbody>
        {% for item in cargoes %}
            <tr>
                <td>№</td>
                <td>Наименование груза</td>
                <td>Действие</td>
                <td>Доп. описание</td>
                <td>QR-код</td>
            </tr>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.cargo.cargo_item_content_object.title }}</td>
                <td>{{ item.action }}</td>
                <td>{{ item.cargo.cargo_item_content_object.description }}</td>
                <td id="qr-td"><img src="http://chart.googleapis.com/chart?cht=qr&chs={{ size }}x{{ size }}&chl={{ item.transfer_uuid }}" /></td>
            </tr>
            <table class="items characteristic">
            {% for cargo_item_characteristic in item.cargo.characteristic_transportations_cargoes_items.all %}
                <tr>
                    <td>{{ cargo_item_characteristic.category_cargo_characteristic.characteristic.title }}:</td>
                    <td>{{ cargo_item_characteristic.stated_value }} {{ cargo_item_characteristic.category_cargo_characteristic.characteristic.unit.title }}</td>
                </tr>
            {% endfor %}
            </table>

        {% endfor %}
        </tbody>
    </table>
    <!-- Характеристики к грузу каждому-->
        <table class="items characteristic">
            <tbody>
        </tbody></table>



    <table class="items">
        <tbody>
        <tr>
            <td>Перевозчик:</td>
            <td>{{ transporter.full_name }}</td>
        </tr>
        <tr>
            <td>Контактный телефон:</td>
            <td>{{ transporter.phone }}</td>
        </tr>
    </tbody></table>


    <table class="footer notes">
        <tbody><tr>
            <td>Перевозчику:</td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Запустите QR-сканер;</li>
                    <li>Дождитесь активации фотокамеры вашего мобильного устройства;</li>
                    <li>Наведите фотокамеру на QR-код. При этом соблюдайте одно из важных условий: камера должна находиться на расстоянии 15 сантиметров от него или введите код вручную.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Грузоотправителю:</td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Предъявите данный сертификат перевозчика перед началом погрузки.</li>
                </ul>
            </td>
        </tr>
    </tbody></table>

{% endblock %}
</body>