{% extends 'letters/base_letter.html' %}

{% block content %}
    <tr >
        <td style = "padding:32px;color: #378b93; text-align:center;">
            <h1>Здравствуйте , {{ user.nickname }}!</h1>
        </td>
    </tr>
    <tr >
        <td style = "padding:0 32px;color: #378b93; text-align:center;">
            <h3 style="margin-top: 0;font-weight: normal;color: #969696;font-size: 16px; margin-bottom: 12px;line-height: 18px;text-align: center;">
                Для завершения регистрации в системе Transportila необходимо подтвердить Ваш e-mail адрес.<br>
                Пожалуйста, пройдите по ссылке:
                <a href="{{ activation_url }}" style="color:#00bff3">Подтвердить</a>
            </h3>
        </td>
    </tr>
{% endblock %}


