{% extends 'letters/base_letter.html' %}
{% block content %}
    <tr >
        <td style = "padding:0 32px;color: #378b93; text-align:center;">
            <h3 style="margin-top: 0;font-weight: normal;color: #969696;font-size: 16px; margin-bottom: 12px;line-height: 18px;text-align: center;">
                Мы получили запрос о смене пароля для Вашего аккаунта Transportila.
                Для смены пароля перейдите по ссылке:<br>
                <a href="{{ activation_url }}" style="color:#00bff3">Активировать.</a><br>
                <br>
                После успешной активации, Вы можете войти в систему, используя
                следующий пароль:<br>
                <a href="" style="color:#00bff3">{{ password }}</a><br>
                <br>
                Через 3 часа эта ссылка станет не активной. После этого, Вам надо будет
                отправить новый запрос на восстановление  пароля. Если Вы не отправиляли
                запрос, просто проигнорируйте это сообщение.<br>
                <br>
                Если Вам нужна дополнительная информация, Вы можете связаться с нами.
                <a href="" style="color:#00bff3">Email.</a><br>
                <hr color="#efefef">
            </h3>
        </td>
    </tr>
{% endblock %}


